# Logs
logs
*.log

# Build output
build/
_CPack_Packages/
*.deb
*.rpm
*.AppImage
*.local

# Editor directories and files
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Qt/CMake local files
**/*.user
**/.cache/
